@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --black: rgba(0, 0, 0, 0.85);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  canvas {display: block; margin: 20px auto;}
}

body {
  font-family: 'Arvo', serif;
  background: #242321;
}            

.card__content{
    text-align:center;
    color:#fff;
    padding:5em 2.5em;
    h2{
      font-weight:700;
        font-size:24px;
    }
    h3{
      font-weight:400;
      margin:5px 0 30px;
      font-size:16px;
    }
    
    p{
           text-align:left;
      
      span{
        margin-right:10px;
      }
    }}

.black-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161623;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.black-theme::before {
  position: absolute;
  content: "";
  left: 40%;
  bottom: -40%;
  width: 600px;
  height: 600px;
  background: linear-gradient(#FF5722, #FF9800);
  border-radius: 50%;
}

.black-theme .card {
  width: 350px;
  height: 500px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.black-theme .card .card__top {
  height: 155px;
  position: relative;
}

.black-theme .card .card__top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.black-theme .card .card__top .profile__photo {
  width: 130px;
  height: 130px;
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.black-theme .card .card__top .profile__photo img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
  border: 7px solid rgba(0, 0, 0, 0.35);
}


#popup-window {
  position: fixed;
  width: 95%;
  height: 95%;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(253, 226, 226);
  padding: 10px;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#popup-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;

}

.round-img {
  border-radius: 2%; /* Adjust the value as needed */
  width: 50%; /* Adjust the value as needed */
  margin-bottom: 5%; /* Space between image and text */
  margin-top: 5%; /* Space between image and text */
  opacity: 1;
  /*position: relative;
  /*left: 25%; */
}

.background-img {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  object-fit: cover;
}


.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
